<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="css/form.css" th:href="@{~/css/form.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{~/css/custom.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/css/all.css" th:href="@{~/css/font-awesome/css/all.css}" type="text/css"/>
    <title>Add Event</title>
</head>
<body>
<!--/*@thymesVar id="userForm" type="be.acara.frontend.domain.User"*/-->
<form modelAttribute="userForm" th:object="${userForm}" th:method="post">
    <label for="username" th:for="${#ids.next('username')}">Username</label>
    <input type="text" id="username" placeholder="Username" th:field="${userForm.username}">

    <label for="password" th:for="${#ids.next('password')}">Password</label>
    <input type="password" id="password" th:field="${userForm.password}">

    <label for="passwordConfirmation" th:for="${#ids.next('passwordConfirm')}">Password confirmation</label>
    <input type="password" id="passwordConfirmation" th:field="${userForm.passwordConfirm}">

    <button type="submit" value="submit">Confirm</button>
    <a class="btn btn-dark btn-lg" href="/events" role="button">Cancel</a>
</form>
</body>
</html>
