<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User detail</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/all.css" th:href="@{~/css/font-awesome/css/all.css}"
          type="text/css"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{~/css/custom.css}"/>
</head>
<!--/*@thymesVar id="user" type="be.acara.frontend.model.UserModel"*/-->
<body th:object="${user}">

<div th:insert="navbar :: navbar"></div>

<div class="container-fluid">
    <div class="row" align="center">
        <div class="col">

            <div class="form-group row justify-content-center" style="font-size: x-large">
                <div class="font-weight-bold col-6 text-right">First name:</div>
                <span class="col-6 text-left" th:text="${user.firstName}">firstName</span>
            </div>


            <div class="form-group row justify-content-center" style="font-size: x-large">
                <div class="font-weight-bold col-6 text-right">Last name:</div>
                <span class="col-6 text-left" th:text="${user.lastName}">lastName</span>
            </div>

            <div class="row justify-content-center">
                <div class="col-9 justify-content-center">

                    <div class="col-5 align-self-center table d-inline-block float-left">
                        <ul class="list-group">
                            <li class="list-group-item bg-white" style="font-size: x-large">
                                <div class="font-weight-bold">Subscribed Events</div>
                            </li>

                            <li class="list-group-item bg-white d-inline-block" th:each="event : ${subscribedEvents}">
                                <div th:text="${event.name}" class="float-left font-weight-bold">name</div>
                                <div th:if="${event.eventDate.isBefore(now)}" class="float-left font-weight-bold ml-5" style="color: red">ARCHIVED</div>
                                <a href="/events/detail"
                                   th:href="@{|/events/detail/${event.id}|}"
                                   class="btn btn-dark float-right">
                                    Detail
                                </a>
                                <a href="/events/detail"
                                   th:href="@{|/orders/ticket/${event.id}|}"
                                   class="btn btn-primary float-right mr-3">
                                    Ticket
                                </a>
                            </li>
                        </ul>

                        <nav class="offset-3 pt-2" aria-label="Page navigation"
                             th:if="${subscribedEvents.totalPages > 0}">
                            <ul class="pagination">
                                <li th:class="page-item + ' ' + (${subscribedEvents.number <= 0} ? disabled)">
                                    <a th:href="@{/users/detail/__${user.id}__(sizeSubscribedEvents=${subscribedEvents.size}, pageSubscribedEvents=${subscribedEvents.number}, sizeLikedEvents=${likedEvents.size}, pageLikedEvents=${#httpServletRequest.getParameter('pageLikedEvents')})}"
                                       th:class="page-link">
                                        Previous
                                    </a>
                                </li>
                                <li class="page-item"
                                    th:each="pageNumberSubscribedEvents : ${pageNumbersSubscribedEvents}"
                                    th:class="'page-item ' + (${pageNumberSubscribedEvents==subscribedEvents.number + 1} ? active : '')">
                                    <a class="page-link"
                                       th:href="@{/users/detail/__${user.id}__(sizeSubscribedEvents=${subscribedEvents.size}, pageSubscribedEvents=${pageNumberSubscribedEvents}, sizeLikedEvents=${likedEvents.size}, pageLikedEvents=${#httpServletRequest.getParameter('pageLikedEvents')})}"
                                       th:text="${pageNumberSubscribedEvents}"
                                       th:class="page-link">
                                    </a>
                                </li>
                                <li th:class="page-item + ' ' + (${subscribedEvents.number + 1 >= subscribedEvents.totalPages} ? disabled)">
                                    <a th:class="page-link"
                                       th:href="@{/users/detail/__${user.id}__(sizeSubscribedEvents=${subscribedEvents.size}, pageSubscribedEvents=${subscribedEvents.number+2}, sizeLikedEvents=${likedEvents.size}, pageLikedEvents=${#httpServletRequest.getParameter('pageLikedEvents')})}">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-5 align-self-center table d-inline-block float-right">
                        <ul class="list-group">
                            <li class="list-group-item bg-white" style="font-size: x-large">
                                <div class="font-weight-bold">Liked Events</div>
                            </li>

                            <li class="list-group-item bg-white d-inline-block" th:each="event : ${likedEvents}">
                                <div th:text="${event.name}" class="float-left font-weight-bold">name</div>
                                <a href="/events/detail"
                                   th:href="@{|/events/detail/${event.id}|}"
                                   class="btn btn-dark float-right">
                                    Detail
                                </a>
                            </li>
                        </ul>

                        <nav class="offset-3 pt-2" aria-label="Page navigation" th:if="${likedEvents.totalPages > 0}">
                            <ul class="pagination">
                                <li th:class="page-item + ' ' + (${likedEvents.number <= 0} ? disabled)">
                                    <a th:href="@{/users/detail/__${user.id}__(sizeSubscribedEvents=${subscribedEvents.size}, pageSubscribedEvents=${#httpServletRequest.getParameter('pageSubscribedEvents')}, sizeLikedEvents=${likedEvents.size}, pageLikedEvents=${likedEvents.number})}"
                                       th:class="page-link">
                                        Previous
                                    </a>
                                </li>
                                <li class="page-item" th:each="pageNumberLikedEvents : ${pageNumbersLikedEvents}"
                                    th:class="'page-item ' + (${pageNumberLikedEvents==likedEvents.number + 1} ? active : '')">
                                    <a class="page-link"
                                       th:href="@{/users/detail/__${user.id}__(sizeSubscribedEvents=${subscribedEvents.size}, pageSubscribedEvents=${#httpServletRequest.getParameter('pageSubscribedEvents')} , sizeLikedEvents=${likedEvents.size}, pageLikedEvents=${pageNumberLikedEvents})}"
                                       th:text="${pageNumberLikedEvents}"
                                       th:class="page-link">
                                    </a>
                                </li>
                                <li th:class="page-item + ' ' + (${likedEvents.number + 1 >= likedEvents.totalPages} ? disabled)">
                                    <a th:class="page-link"
                                       th:href="@{/users/detail/__${user.id}__(sizeSubscribedEvents=${subscribedEvents.size}, pageSubscribedEvents=${#httpServletRequest.getParameter('pageSubscribedEvents')}, sizeLikedEvents=${likedEvents.size}, pageLikedEvents=${likedEvents.number +2})}">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <a class="btn btn-primary" href="userDetails.html"
               th:href="@{|/users/${user.id}|}">
                Edit
            </a>
        </div>
    </div>
</div>
</body>
</html>
