.errorMessage {
    color: red;
}

.errorField {
    border-color: red;
    background-color: #f5c6cb;
}

.max-height {
    max-height: 33vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}