.errorMessage {
    color: red;
}

.errorField {
    border-color: red;
    background-color: #f5c6cb;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}