<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{../resources/css/bootstrap.css}"/>
    <link rel="stylesheet" href="css/form.css" th:href="@{../resources/css/form.css}"/>
    <title>Add Event</title>
</head>
<body>

<div th:insert="navbar :: navbar"></div>
<form th:insert="eventForm :: eventForm" th:method="post" enctype="multipart/form-data" class="mt-3 ml-4 w-50"></form>
</body>
</html>
