<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link href="../static/css/form.css" rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>

<!--/*@thymesVar id="event" type="be.acara.frontend.model.Event"*/-->
<form method="post" th:object="${event}">

    <div>
        <input type="hidden" th:field="${event.id}"/>
    </div>

    <div>
        <label th:for="name">Event name: </label>
        <input type="text" th:field="${event.name}" th:errorClass="errorField"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errorMessage">Invalid input</span>
    </div>

    <div>
        <label th:for="eventDate">Date: </label>
        <input type="date" th:field="${event.eventDate}"  th:errorClass="errorField"/>
        <span th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}" class="errorMessage">Invalid input</span>
    </div>

    <div>
        <label th:for="description">Description: </label>
        <input type="text" th:field="${event.description}" th:errorClass="errorField"/>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="errorMessage">Invalid input</span>
    </div>

    <div>
        <label th:for="location">Location: </label>
        <input type="text" th:field="${event.location}" th:errorClass="errorField"/>
        <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="errorMessage">Invalid input</span>

    </div>

    <div>
        <label th:for="category">Category: </label>
        <select>
            <option th:each="category: ${categoryList}"
                    th:value="${category}"
                    th:text="${category}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="errorMessage">Invalid input</span>
    </div>



    <div>
        <label th:for="price">Price: </label>
        <input type="number" th:field="${event.price}" th:errorClass="errorField"/>
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errorMessage">Invalid input</span>
    </div>

    <div>
        <button type="submit" value="confirm" >Confirm</button>
        <a href="/events" role="button">Cancel</a>
    </div>

</form>
</body>
</html>