<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <title></title>
</head>
<body>
<!--/*@thymesVar id="event" type="be.acara.frontend.model.EventModel"*/-->
<a sec:authorize="hasAuthority('ADMIN')" href="/events/delete"
   th:href="@{|/events/delete/${event.id}|}"
   onclick="return confirm('Are you sure you want to delete this event?');"
   th:fragment="deleteEvent">
    Delete
</a>
</body>
</html>
