<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{~/css/form.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{~/css/custom.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/all.css" th:href="@{~/css/font-awesome/css/all.css}"
          type="text/css"/>
</head>
<body>

<!--/*@thymesVar id="event" type="be.acara.frontend.model.Event"*/-->
<form modelAttribute="event" th:object="${event}" th:fragment="eventForm" class="form-horizontal">

    <div class="container-fluid row">
        <div class="col col-9">
            <div class="form-group row">
                <label class="control-label col-2 float-left " for="eventName" th:for="${#ids.next('name')}">Event
                    name: </label>
                <div class="col-7">
                    <input class="col-9 form-control-lg" type="text" id="eventName" placeholder="Event name"
                           th:field="${event.name}" th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                          class="errorMessage">Event name is required</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-2 float-left" for="eventDate"
                       th:for="${#ids.next('eventDate')}">Date: </label>
                <div class="col-7 ">
                    <input class="col-9 form-control-lg" type="datetime-local" id="eventDate"
                           placeholder="Event date"
                           min="2000-01-01T00:00"
                           max="2099-12-31T23:59"
                           th:field="${event.eventDate}"
                           th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}"
                          class="errorMessage">Event date is required</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-2 float-left" for="eventLocation"
                       th:for="${#ids.next('location')}">Location: </label>
                <div class="col-7">
                    <input class="col-9 form-control-lg" type="text" id="eventLocation"
                           placeholder="Event location"
                           th:field="${event.location}"
                           th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="errorMessage">Event location is required</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-2 float-left" for="eventCategory"
                       th:for="${#ids.next('category')}">Category:</label>
                <div class="col-7">
                    <select class="col-9 form-control-lg" th:field="${event.category}" id="eventCategory">
                        <option th:each="category: ${categoryList}"
                                th:value="${category}"
                                th:text="${category}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                          class="errorMessage">Invalid input</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-2 float-left" for="eventPrice"
                       th:for="${#ids.next('price')}">Price: </label>
                <div class="col-7">
                    <input class="col-9 form-control-lg" type="number" id="eventPrice" placeholder="Price"
                           th:field="${event.price}"
                           th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                          class="errorMessage">Invalid input</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-2 float-left" for="eventDescription"
                       th:for="${#ids.next('description')}">Description: </label>
                <div class="col-7">
                        <textarea class="form-control-lg col-9" rows="5" id="eventDescription"
                                  placeholder="Description"
                                  th:field="${event.description}"
                                  th:errorClass="errorField"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                          class="errorMessage">Event description is required</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-2 float-left" for="eventImage">Image: </label>
                <div class="col-10">
                    <input type="file" name="eventImage" id="eventImage" multiple accept="image/*"
                           onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"/>
                </div>
            </div>

            <div class="form-group row">
                <button class="btn btn-dark mx-2 btn-lg" type="submit" value="submit">Confirm</button>
                <a class="btn btn-dark btn-lg" href="/events" role="button">Cancel</a>
            </div>
        </div>

        <div class="col col-3">
            <div>
                <img id="preview" alt="preview image" class="img-fluid"/>
            </div>
            <div class="form-group" th:if="${eventImage != null}">
                <img th:src="@{'data:image/png;base64,'+${eventImage}}" class="img-fluid"/>
            </div>
        </div>

    </div>
</form>
</body>
</html>
