<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Event detail</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{~/css/custom.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/css/all.css" th:href="@{~/css/font-awesome/css/all.css}"
          type="text/css"/>
</head>

<!--/*@thymesVar id="event" type="be.acara.frontend.model.EventModel"*/-->
<body th:object="${event}">
<div th:insert="navbar :: navbar"></div>
<div class="container-fluid align-content-center">

    <div class="row">
        <div class="col-8">
            <div class="container">

                <div class="form-group row justify-content-center align-items-center">
                    <h1 th:text="${event.name}">name</h1>
                </div>

                <div class="form-group row" style="font-size: x-large">
                    <div class="font-weight-bold col-6 text-right">Description:</div>
                    <span class="col-6 text-left" th:text="${event.description}">description</span>
                </div>

                <div class="form-group row" style="font-size: x-large">
                    <div class="font-weight-bold col-6 text-right">Date:</div>
                    <span class="col-6 text-left" th:text="${event.eventDate.toString().substring(0,10)}">event date</span>
                </div>

                <div class="form-group row" style="font-size: x-large">
                    <div class="font-weight-bold col-6 text-right">Time:</div>
                    <span class="col-6 text-left" th:text="${event.eventDate.toString().substring(11)}">event date</span>
                </div>

                <div class="form-group row" style="font-size: x-large">
                    <div class="font-weight-bold col-6 text-right">Price:</div>
                    <span class="col-6 text-left" th:text="${event.price}">price</span>
                </div>

                <div class="form-group row" style="font-size: x-large">
                    <div class="font-weight-bold col-6 text-right">Category:</div>
                    <span class="col-6 text-left" th:text="${event.category.substring(0,1) + event.category.substring(1).toLowerCase()}">category</span>
                </div>

                <div class="form-group row" style="font-size: x-large">
                    <div class="font-weight-bold col-6 text-right">Location:</div>
                    <span class="col-6 text-left" th:text="${event.location}">location</span>
                </div>

                <div class="form-group row justify-content-center">
                    <div>
                        <a sec:authorize="isAnonymous()"
                           data-toggle="modal" data-target="#likeModal"
                           class="btn btn-light">
                            <span th:text="${event.amountOfLikes}"></span>
                            <i class="fas fa-thumbs-up ml-2" style="color: grey"></i>
                        </a>
                        <a sec:authorize="isAuthenticated()"
                           href="/events/like"
                           th:href="@{|/users/${event.id}/details/likes|}"
                           class="btn btn-light">
                            <span th:text="${event.amountOfLikes}"></span>
                            <i class="fas fa-thumbs-up ml-2"
                               th:style="${likedEvents.content.contains(event)} ? 'color: #0275d8' : 'color: grey'"></i>
                        </a>
                        <a class="btn btn-dark" href="/events" th:href="@{|/events/${event.id}|}"
                           sec:authorize="hasRole('ADMIN')">Edit</a>
                        <span th:insert="deleteEvent :: deleteEvent" sec:authorize="hasRole('ADMIN')"></span>
                        <a href="/orders/event.id" th:href="@{/orders/(event=${event.id})}"
                           class="btn btn-primary">Buy Ticket</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <img class="img-fluid mt-5" th:src="@{'data:image/png;base64,'+${eventImage}}"/>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="likeModal" class="modal fade" role="dialog" th:insert="likeModal">
</div>

</body>
</html>
