<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{~/css/form.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{~/css/custom.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/all.css" th:href="@{~/css/font-awesome/css/all.css}"
          type="text/css"/>
</head>
<body>

<!--/*@thymesVar id="event" type="be.acara.frontend.model.Event"*/-->
<form modelAttribute="event" th:object="${event}" th:fragment="eventForm" class="form-horizontal">

    <div class="container-fluid row">
        <div class="col col-9">
            <div th:if="${#httpServletRequest.requestURI == '/events/new'}">
                <h1>
                    Add a new event
                </h1>
            </div>
            <div th:unless="${#httpServletRequest.requestURI == '/events/new'}">
                <h1>
                    Edit event
                </h1>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left " for="eventName" th:for="${#ids.next('name')}">Event
                        name: </label>
                </div>
                <div class="col-9">
                    <input class="form-control-lg w-75" type="text" id="eventName" placeholder="Event name"
                           th:field="${event.name}" th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                          class="errorMessage w-75">Event name is required</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left" for="eventDate"
                           th:for="${#ids.next('eventDate')}">Date: </label>
                </div>
                <div class="col-9 ">
                    <input class="form-control-lg w-75" type="datetime-local" id="eventDate"
                           placeholder="Event date"
                           min="2000-01-01T00:00"
                           max="2099-12-31T23:59"
                           th:field="${event.eventDate}"
                           th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}"
                          class="errorMessage w-75">Event date is required</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left" for="eventLocation"
                           th:for="${#ids.next('location')}">Location: </label>
                </div>
                <div class="col-9">
                    <input class="form-control-lg w-75" type="text" id="eventLocation"
                           placeholder="Event location"
                           th:field="${event.location}"
                           th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="errorMessage w-75">Event location is required</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left" for="eventCategory"
                           th:for="${#ids.next('category')}">Category:</label>
                </div>
                <div class="col-9">
                    <select class="form-control-lg w-75" th:field="${event.category}" id="eventCategory">
                        <option th:each="category: ${categoryList}"
                                th:value="${category}"
                                th:text="${category}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                          class="errorMessage w-75">Invalid input</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left" for="eventPrice"
                           th:for="${#ids.next('price')}">Price: </label>
                </div>
                <div class="col-9">
                    <input class="form-control-lg w-75" type="number" id="eventPrice" placeholder="Price"
                           th:field="${event.price}"
                           th:errorClass="errorField"/>
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                          class="errorMessage w-75">Invalid input</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left" for="eventDescription"
                           th:for="${#ids.next('description')}">Description: </label>
                </div>
                <div class="col-9">
                        <textarea class="form-control-lg w-75 h-100" rows="3" id="eventDescription"
                                  placeholder="Description"
                                  th:field="${event.description}"
                                  th:errorClass="errorField"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                          class="errorMessage w-75">Event description is required</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label class="control-label float-left" for="eventImage">Image: </label>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="upload-btn-wrapper ml-3">
                            <button type="button" class="btn btn-primary">Upload</button>
                            <input type="file" name="eventImage" id="eventImage" multiple accept="image/*" th:value="${eventImage}"
                                   onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"/>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="btn btn-danger"
                                    onclick="deleteImage()">
                                <script>
                                    function deleteImage() {
                                        var eventImage = "${eventImage}";
                                        document.getElementById('preview').src = '';
                                        eventImage = null;
                                    }
                                </script>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <button class="btn btn-dark mx-2 btn-lg" type="submit" value="submit">Confirm</button>
                <a class="btn btn-dark btn-lg" href="/events" role="button">Cancel</a>
            </div>
        </div>

        <div class="col col-3">
            <div class="form-group row vh-50" th:if="${eventImage != null}">
                <div class="col">
                    <h1 class="row">Current event image</h1>
                    <div class="row">
                        <img th:src="@{'data:image/png;base64,'+${eventImage}}" class="img-fluid rounded max-height"/>
                    </div>
                </div>
            </div>
            <div class="form-group row vh-50" onerror="this.style.display = 'none'">
                <div class="col">
                    <h1 class="row">New event image</h1>
                    <div class="row">
                        <img id="preview" class="img-fluid rounded max-height"/>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>
</body>
</html>
