<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/css/all.css" th:href="@{~/css/font-awesome/css/all.css}"
          type="text/css"/>
    <title>Acara</title>
</head>


<body>
<!--Navbar-->
<div th:insert="navbar :: navbar"></div>
<div class="container-fluid" style="display: table">
    <div class="row">
        <!--Sidebar-->
        <div class="col p-0 bg-dark" style="display: table-cell; flex: 0 0 15vw" th:insert="sidebar :: sidebar">
        </div>
        <!--Events-->
        <div class="col" style="display: table-cell">
            <div class="row">
                <div class="col-2">
                    <h1>Events</h1>
                </div>
                <div class="col mt-2">
                    <a class="btn btn-dark" href="/events" th:href="@{/events}">Refresh</a>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item border-dark rounded mb-1" th:each="event,image : ${events}">
                    <div class="float-left w-75">
                    <p th:text="'Name: ' + ${event.name}">Name</p>
                    <p th:text="'Date: ' + ${event.eventDate}">Date</p>
                    <p th:text="'Location: ' + ${event.location}">Location</p>
                    <p th:text="'Price: ' + ${event.price}">Price</p>
                        <div>
                            <a href="/events/detail"
                               th:href="@{|/events/detail/${event.id}|}"
                               class="btn btn-dark float-left mr-3">
                                Detail
                            </a>
                            <p sec:authorize="hasRole('ADMIN')" th:insert="deleteEvent :: deleteEvent"
                               class="float-left"></p>
                        </div>
                    </div>
                    <div class="float-left">
                    <img style="height: 25vh" th:src="@{'data:image/png;base64,'+${T(be.acara.frontend.util.ImageUtil).convertToBase64(event.image)}}"/>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" th:if="${events.totalPages > 0}">
                <ul class="pagination">
                    <li th:class="page-item + ' ' + (${events.number <= 0} ? disabled)">
                        <a th:href="@{/events(size=${events.size}, page=${events.number})}"
                           th:class="page-link">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                        th:class="'page-item ' + (${pageNumber==events.number + 1} ? active : '')">
                        <a class="page-link" th:href="@{/events(size=${events.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="page-link">
                        </a>
                    </li>
                    <li th:class="page-item + ' ' + (${events.number + 1 >= events.totalPages} ? disabled)">
                        <a th:class="page-link" th:href="@{/events(size=${events.size}, page=${events.number+2})}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>
