<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{'/css/bootstrap.css'}"
          media="screen,projection"/>
    <title>Acara</title>
</head>
<body>
<h1>List of events</h1>
<ul>
    <li th:each="event : ${events}">
        <p th:text="'Name: ' + ${event.name}">Name</p>
        <p th:text="'Date: ' + ${event.eventDate}">Date</p>
        <p th:text="'Location: ' + ${event.location}">Location</p>
        <p th:text="'Price: ' + ${event.price}">Price</p>
        <a href="/events/detail"
           th:href="@{|events/detail/${event.id}|}">
            Detail
        </a>
    </li>
</ul>
</body>
</html>