<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{~/css/form.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome/css/all.css" th:href="@{~/css/font-awesome/css/all.css}"
          type="text/css"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">

    <a href="/events">
        <img src="/images/acara-logo-1.jpg" class="img-fluid" alt="">
    </a>

    <div class="nav-item">
        <div sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">
                <i class="fa fa-sign-in-alt fa-3x" aria-hidden="true" style="color: #0275d8"></i>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">
                <i class="fa fa-sign-out-alt fa-3x" aria-hidden="true" style="color: firebrick"></i>
            </a>
        </div>
    </div>
</nav>
</body>
</html>
