<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          type="text/css"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">

    <img src="/images/acara-logo-1.jpg" class="img-fluid">



        <h1 style="color:white;">Acara Events</h1>


        <div class="nav-item">
            <a class="nav-link" th:href="@{/logout}">
            <span style="color: firebrick">
                <i class="fa fa-user fa-3x" aria-hidden="true" style="color: firebrick"></i>
                Logout
            </span>
            </a>
        </div>

</nav>
</body>
</html>