<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event detail</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
</head>
<!--/*@thymesVar id="user" type="be.acara.frontend.model.User"*/-->
<body th:object="${user}">
<p th:text="'ID: ' + ${user.id}">ID</p>
<p th:text="'First name: ' + ${user.firstName}">First name</p>
<p th:text="'Last name: ' + ${user.lastName}">Last name</p>
<ul>
    <li th:each="event : ${user.events}">
        <p th:text="'Name: ' + ${event.name}">Name</p>
    </li>
</ul>
<a href="/users"
   th:href="@{|/users/${user.id}|}">
    Edit
</a>
</body>
</html>
